<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>MyFamilyDaily</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/news.js"></script>
	<script src="/assets/js/admin.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lemon|Merriweather|Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
	<section class="hero is-small is-light">
		<div class="hero-body">
			<nav class="navbar" role="navigation">
				<div class="navbar-brand">
					<h1 class="navbar-item title">My Family Daily</h1>
				</div>
				{{#if user}}
				<div class="navbar-end">
					<div class="navbar-item userBtn" user_id="{{user.user_id}}">Logged as: {{user.email}}
					</div>
					{{#if user.is_admin}}
					{{#if isAdminPage}}
					<a class="control navbar-item" href="/index"><button class="button is-link">News
							Page</button></a>
					{{else}}
					<a class="control navbar-item" href="/admin"><button class="button is-link">Admin
							Page</button>
					</a>
					{{/if}}
					{{/if}}
					<a class="control navbar-item" href="/logout">
						<button class="button is-danger">Logout</button>
					</a>
				</div>
				{{/if}}
			</nav>
		</div>
	</section>
	{{{ body }}}
	<footer class="footer index">
		<div class="content has-text-centered">
			<p>
				<strong>Family News Website</strong> by Hristina, Saul, Ana Paula. ESMT Coding Bootcamp, Jan
				2020.
			</p>
		</div>
	</footer>
</body>

</html>