<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Family News Report</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap&subset=cyrillic,cyrillic-ext"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>

  <body>
    <section class="hero is-small is-light is-bold">
      <div class="hero-body">
        <nav class="navbar" role="navigation">
          <div class="navbar-brand">
            <div class="navbar-item button is-light">Logout</div>
            <h1 class="navbar-item">Family Daily</h1>
          </div>
        </nav>
      </div>
    </section>
    <section>
      <div class="container has-text-justified">
        <div class="columns">
          <div class="column is-three-quarters">
            <p>
              P1 First column - here comes the main content - news Lorem ipsum
              dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.
            </p>
            <p>
              P2 First column - here comes the main content - news Lorem ipsum
              dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="column">
            <div class="tile is-ancestor">
              <div class="tile is-vertical is-parent">
                <div class="tile is-child box">
                  <p>Current time in ..city..</p>
                </div>
                <div class="tile is-child box">
                  <p>Current weather in ..city..</p>
                </div>
                <div class="tile is-child box">
                  <p>Invite your family!</p>
                </div>
              </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>Fixed Footer</p>
      </div>
    </footer>
  </body>
</html>
