<div class="container has-text-centered">
    <div class="column is-one-quarter">
        <form id="changePasswordForm">
            <p> Enter your new password</p>
            <div class="field">
                <p class="control">
                    <input class="input" type="password" name="password" id="userPassword">
                </p>
            </div>
            <p class="control has-text-centered">
                <button class="button is-danger btnUp" type="submit" id="changePasswordBtn">
                    Change password
                </button>
            </p>
        </form>
        <a class="button is-link is-inverted" href="/index">
            Go back
        </a>
    </div>
</div>
<script type="text/javascript" src="/assets/js/loggeduser.js"></script>